/* manrope and sonsie one installed with fontsource */

@font-face {
  font-family: "Digital7";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("Digital7"),
    url("../fonts/digital7/Digital7Mono-B1g5.ttf") format("truetype");
}
