header {
  display: flex;
  nav {
    display: flex;
    margin: 20px 0;
  }
  nav.account {
    margin-left: auto;
    button,
    a {
      border-radius: 0;
      background: transparent;
      color: var(--dark-text);
      &:hover {
        color: var(--welcome-text);
      }
    }
  }
  .welcome {
    color: var(--welcome-text);
    font: italic 600 16px/38px Manrope, sans-serif;
    padding: 0 24px;
  }
}
