:root {
  color-scheme: light dark;

  --play-button: hsl(146, 73%, 49%);

  /* spotify branding */
  /* * https://developer.spotify.com/documentation/general/design-and-branding/ */
  --spotify-light-green: #1ed760;
  --spotify-green: #1db954;
  --spotify-black: #191414;

  --test: hsl(155, 100%, 65%);
  --tes2t: hsl(342, 100%, 65%);
}
