:root.contrast {
  background-color: hsl(0, 0%, 0%); // ! also change SettingsForm.vue
  --page-bg: hsl(0, 0%, 0%);

  /* elements */
  --hr: hsl(0, 0%, 100%);
  --table-border: hsl(0, 0%, 100%);
  --border-colour: hsl(0, 0%, 100%);
  --modal-backdrop: hsla(0, 0%, 40%, 0.8);
  --key-text: hsl(0, 0%, 0%);

  /* text and icons */
  --white-text: hsl(0, 0%, 100%);
  --lighter-text: hsl(0, 0%, 100%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(0, 0%, 100%); // ! also change SettingsForm.vue
  --darker-text: hsl(0, 0%, 100%);
  --darkest-text: hsl(0, 0%, 100%);
  --link-text: hsl(202, 100%, 55%);
  --link-text-hover: hsl(202, 100%, 76%);
  --abbr-title: hsla(0, 0%, 100%, 0.74);
  --label-text: hsl(0, 0%, 100%);
  --input-text: hsl(0, 0%, 100%);
  --welcome-text: hsl(48, 100%, 87%);
  --highlight: hsl(53, 5%, 32%);

  /* feedback */
  --success: hsl(152, 100%, 50%);
  --saving: hsl(35, 100%, 50%);
  --error: hsl(356, 100%, 50%);

  /* nav */
  --nav-active-bg: hsl(202, 100%, 36%);
  --nav-inactive-bg: hsl(0, 0%, 0%);
  --nav-inactive-text: hsl(0, 0%, 100%);
  --nav-inactive-border: hsl(0, 0%, 67%);
  --nav-inactive-hover: hsl(202, 30%, 20%);

  /* forms */
  --input-bg: hsl(0, 0%, 0%);
  --input-border: hsl(0, 0%, 100%);
  --input-border-focus: hsl(202, 100%, 60%);
  --radio-card-label: hsl(0, 0%, 12%);

  /* buttons */
  --primary: hsl(202, 100%, 50%); // ! also change SettingsForm.vue
  --primary-hover: hsl(202, 100%, 72%);
  --secondary: hsl(0, 0%, 12%); // ! also change SettingsForm.vue
  --secondary-hover: hsl(0, 0%, 27%);
  --edit: hsl(35, 100%, 50%);
  --edit-hover: hsl(35, 84%, 72%);
  --delete: hsl(356, 100%, 50%);
  --delete-hover: hsl(356, 100%, 72%);
  --disabled: hsl(215, 8%, 22%);
  --disabled-text: hsl(215, 8%, 66%);

  /* records and tracks */
  --item-bg: hsl(0, 0%, 8%); // ! also change SettingsForm.vue
  --record-unstaged-bg: hsl(0, 0%, 36%);
  --even-row-bg: hsl(0, 0%, 9%);
  --track-short-odd: hsl(0, 0%, 16%); // ! also change SettingsForm.vue
  --track-short-odd-selected: hsl(277, 13%, 32%);
  --selected-action: hsl(277, 100%, 80%);
  --record-selected-bg: hsl(277, 18%, 24%);
  --item-hover: hsl(146, 50%, 16%);
  --item-active: hsl(146, 70%, 50%);
  --track-features-hover: hsl(146, 70%, 50%);
  --artists-color: hsl(278, 32%, 70%);

  /* webkit */
  --webkit-scrollbar: hsl(315, 40%, 45%);
  --webkit-scrollbar-hover: hsl(315, 60%, 55%);

  --spotify-icon-hover: white;

  /* progress bar */
  --progress-fg: linear-gradient(
    70deg,
    rgba(245, 177, 97, 1) 0.4%,
    rgba(236, 54, 110, 1) 100.2%
  );
  --progress-bg: hsl(0, 0%, 17%);
}
