/**
 * base style for crate-guide.
 * modified from skeleton: http://getskeleton.com/
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 15px = 15px
  transition: background-color 0.5s, color 0.5s;
}

html,
body,
#app {
  height: 100%;
}

header {
  background-color: var(--header-bg);
}

body {
  margin: 0;
  color: var(--dark-text);
  font: 400 15px/1.6 Manrope, sans-serif;
}

h1,
h2,
h3,
h4 {
  font: 400 16px/1.6 Manrope, sans-serif;
  margin-top: 0;
  margin-bottom: 14px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 15px 0 15px 30px;
  font-size: 90%;
}

li {
  margin-bottom: 10px;
}

// todo: remove later if unused
input,
textarea,
select,
fieldset {
  // margin-bottom: 15px;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 25px;
}

hr {
  width: 100%; // flex compatability
  margin: 10px 0;
  border-width: 0;
  border-top: 1px solid var(--hr);
}

abbr[title],
acronym[title] {
  color: var(--abbr-title);
}

th {
  font-weight: 500;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}

table.clean td,
table.clean th {
  border: none;
  padding: 0 8px;
}

table.clean th:first-child,
table.clean td:first-child,
th:first-child,
td:first-child {
  padding-left: 0;
}

table.clean th:last-child,
table.clean td:last-child,
th:last-child,
td:last-child {
  padding-right: 0;
}

*:focus,
a:hover,
a:active,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  outline: none;
}

/* Hiding class, making content visible only to screen readers but not visually
from: https://css-tricks.com/video-screencasts/142-hiding-things-with-css/ */
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link-text {
  color: var(--link-text);
  cursor: pointer;
  &:hover {
    color: var(--link-text-hover);
  }
}
