/**
 * Name:         base.scss
 * Description:  base style for vinylbox. modified from skeleton: http://getskeleton.com/
 */

html {
  font-size: 62.5%; // 1.5rem = 15px
}

header {
  background-color: var(--header-bg);
}

body {
  margin: 0;
  background-color: var(--page-bg);
  color: var(--dark-text);
  font: 400 1.5rem/1.6 Manrope, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: 400 1.6rem/1.6 Manrope, sans-serif;
  margin-top: 0;
  margin-bottom: 1.4rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.7rem;
}

h6 {
  font-size: 1.6rem;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol,
ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

hr {
  width: 100%; // flex compatability
  margin: 1rem 0;
  border-width: 0;
  border-top: 1px solid var(--hr);
}

abbr[title],
acronym[title] {
  color: var(--abbr-title);
}

th {
  font-weight: 500;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--table-border);
}

table.clean td,
table.clean th {
  border: none;
  padding: 0 8px;
}

table.clean th:first-child,
table.clean td:first-child,
th:first-child,
td:first-child {
  padding-left: 0;
}

table.clean th:last-child,
table.clean td:last-child,
th:last-child,
td:last-child {
  padding-right: 0;
}

// todo: is this reqd
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; //removes webkit autofill yellow background
}

.btn,
button,
input[type="submit"],
input[type="button"] {
  background-color: transparent;
  border-radius: 0.8rem;
  border: 1px solid var(--btn-border);
  box-sizing: border-box;
  color: var(--btn-dark);
  cursor: pointer;
  display: inline-flex;
  font: 400 1.6rem/3.8rem Manrope, sans-serif;
  height: 3.8rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 2.4rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  white-space: nowrap;
  svg {
    align-self: center;
    height: 2.2rem;
  }
  &.add {
    color: var(--btn-primary);
    &:hover {
      color: var(--btn-primary-hover);
    }
  }
  &.edit {
    color: var(--btn-edit);
    &:hover {
      color: var(--btn-edit-hover);
    }
  }
  &.delete {
    color: var(--btn-delete);
    &:hover {
      color: var(--btn-delete-hover);
    }
  }
}

button {
  margin: 0;
  background: var(--btn-secondary);
  border: none;
  color: var(--dark-text);
  &:hover {
    background: var(--btn-secondary-hover);
    color: var(--darker-text);
  }
  &.primary {
    background: var(--btn-primary);
    font: 600 1.6rem/3.8rem Manrope, sans-serif;
    color: var(--white-text);
    border: none;
    &:hover {
      background: var(--btn-primary-hover);
    }
    &.delete {
      background: var(--btn-delete);
      &:hover {
        background: var(--btn-delete-hover);
        color: var(--white-text);
      }
    }
  }
}

button.inline-button {
  background-color: transparent;
  border-radius: 0;
  float: left;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  svg {
    align-self: center;
    height: 1.8rem;
    margin: 0.6rem;
  }
}

input,
select {
  line-height: 38px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 0 10px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  font: 400 1.5rem/1.6 Manrope, sans-serif;
  color: var(--input-text);
  border-radius: 0.8rem;
  box-shadow: none;
  box-sizing: border-box;
  &.matched,
  &.matched:focus {
    border-color: var(--success);
  }
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  line-height: 1.7rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid var(--input-border-focus);
  outline: 0;
}

input[type="email"]:not(:focus):invalid,
input[type="number"]:not(:focus):invalid,
input[type="search"]:not(:focus):invalid,
input[type="text"]:not(:focus):invalid,
input[type="tel"]:not(:focus):invalid,
input[type="url"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid,
textarea:not(:focus):invalid,
select:not(:focus):invalid,
input.invalid,
textarea.invalid,
select.invalid {
  border: 1px solid var(--error);
  outline: 0;
  &:required:placeholder-shown {
    border: 1px solid var(--input-border);
  }
}

label {
  cursor: pointer;
}

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--label-text);
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal;
}

// todo: remove if unused after form ui complete
.no-label {
  margin-top: 2.4rem !important;
}

// non-default styling, background url is svg images/cheveron-down-lighter.svg
// converted to base64 as per https://stackoverflow.com/questions/10768451/inline-svg-in-css
select {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggZmlsbD0nIzg4OCcgZD0nTTkuMjkzIDEyLjk1bC43MDcuNzA3TDE1LjY1NyA4bC0xLjQxNC0xLjQxNEwxMCAxMC44MjggNS43NTcgNi41ODYgNC4zNDMgOHonLz48L3N2Zz4=")
    100% / 20px no-repeat #eee !important;
  padding-right: 36px;
  border: 1px solid --input-border;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

*:focus,
a:hover,
a:active,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  outline: none;
}

.container {
  max-width: 1800px;
  position: relative;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}

/* Hiding class, making content visible only to screen readers but not visually
from: https://css-tricks.com/video-screencasts/142-hiding-things-with-css/ */
.screen-reader-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link-text {
  color: var(--link-text);
  cursor: pointer;
  &:hover {
    color: var(--link-text-hover);
  }
}

// not in vue SFC because used in multiple components
.modal-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  .modal {
    background: #fff;
    border-radius: 1rem;
    z-index: 100;
  }
}

.icon-button {
  svg {
    margin-right: 1rem;
  }
}
