.btn,
button,
input[type="submit"],
input[type="button"] {
  margin: 0;
  border-radius: 8px;
  border: none;
  color: var(--dark-text);
  background-color: var(--secondary);
  cursor: pointer;
  display: inline-flex;
  font: 400 16px/38px Manrope, sans-serif;
  height: 38px;
  justify-content: center;
  padding: 0 24px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s, color 0.5s;
  white-space: nowrap;
  svg {
    overflow: visible; // because spotify logo was being clipped by a fraction of a px
    align-self: center;
    height: 22px;
    transition: fill 0.2s ease-in-out;
  }
  &:hover {
    background: var(--secondary-hover);
    color: var(--darker-text);
  }
  &:disabled {
    cursor: not-allowed;
    color: var(--disabled-text);
    background-color: var(--disabled);
    svg {
      color: var(--disabled-text);
      fill: transparent;
    }
  }
  &.primary {
    padding: 0 40px;
    background: var(--primary);
    font: 600 16px/38px Manrope, sans-serif;
    color: var(--white-text);
    border: none;
    &:hover {
      background: var(--primary-hover);
    }
    &:disabled {
      background-color: var(--disabled);
    }
    &.delete {
      color: var(--white-text);
      background: var(--delete);
      svg {
        color: var(--white-text);
        fill: transparent;
      }
      &:hover {
        background: var(--delete-hover);
        color: var(--white-text);
        svg {
          color: var(--white-text);
          fill: var(--white-text);
        }
      }
    }
  }
  &.add {
    color: var(--primary);
    svg {
      color: var(--primary);
      fill: transparent;
    }
    &:hover {
      color: var(--primary-hover);
      svg {
        color: var(--primary);
        fill: var(--primary);
      }
    }
  }
  &.edit {
    color: var(--edit);
    svg {
      color: var(--edit);
      fill: transparent;
    }
    &:hover {
      color: var(--edit-hover);
      svg {
        color: var(--edit);
        fill: var(--edit);
      }
    }
  }
  &.delete {
    color: var(--delete);
    svg {
      color: var(--delete);
      fill: transparent;
    }
    &:hover {
      color: var(--delete-hover);
      svg {
        color: var(--delete);
        fill: var(--delete);
      }
    }
  }
  &.clear-filters {
    border: 1px solid var(--edit);
    color: var(--edit);
    background-color: transparent;
    font-weight: 600;
    svg {
      fill: var(--edit);
    }
    &:hover {
      background-color: var(--edit);
      color: var(--white-text);
      svg {
        fill: var(--white-text);
      }
    }
  }
  &.icon-button {
    svg {
      margin-right: 10px;
    }
  }
  &.icon-only-button {
    width: 38px;
    padding: 0 8px;
    svg {
      position: absolute;
    }
  }
}

button.inline-btn {
  background-color: transparent;
  border-radius: 0;
  height: 30px;
  line-height: 30px;
  padding: 0;
  svg {
    align-self: center;
    height: 18px;
    margin: 6px;
  }
}
