/**
 * Name:         colours.css
 * Description:  colour scheme for vinylbox.
 */

 :root {

  /* elements */
  --hr: #ccc;
  --table-border: #888;

  /* text and icons */
  --site-title-text: #424d55;
  --white-text: #fff;
  --lightest-text: #ddd;
  --lighter-text: #ccc;
  --light-text: #999;
  --dark-text: #777;
  --darker-text: #555;
  --darkest-text: #444;
  --black-text: #000;
  --link-text: hsl(216, 76%, 39%);
  --link-text-hover: hsl(216, 70%, 56%);
  --light-bg-icon: #454241;
  --abbr-title: rgba(12, 12, 12, 0.74); /* <abbr title=""> text. */
  --label-text: #5a6975;
  --input-text: #404a52;

  /* navs */
  --nav-active-bg:#c7884d;
  --nav-inactive-bg:#eaeaea;
  --nav-inactive-text:#7a7a7a;
  --nav-inactive-border:#ababab;

  /* forms */
  --input-bg: #fff; /* form input background. */
  --input-border: #c0c5c8; /* form input border. */
  --input-border-focus: #50a5e5; /* form input focused border. */
  --search-border: #8d9ca7; /* search form border. */
  --search-border-active: #708391; /* search border when focused + search submit button border when hovered. */
  --search-submit-icon: #708391; /* search submit button icon. */
  --search-submit-icon-hover: #5c6c77; /* search submit button hover. */
  --search-submit-bg: #ddd; /* search submit button background. */
  --search-submit-bg-hover: #ccc; /* search submit button hover background. */

  /* buttons */
  --btn-primary: #4793cd; /* primary button background. */
  --btn-primary-hover: #50a5e5; /* primary button background. */
  --btn-secondary: #f5f4f7; /* default button border. */
  --btn-secondary-hover: #e7e7e7; /* default button border. */
  --btn-edit: hsl(35, 84%, 62%); /* edit button. */
  --btn-delete: hsl(359, 56%, 62%); /* delete button. */

  /* decks */
  --deck-black: #333;
  --deck-silver: #ccc;

  /* todo: delete this if not used after implementing notifications */
  /* display msg / toast notifications / iziToast */
  --msg-notify: #abdef5;
  --msg-save: #f5e7ab;
  --msg-error: #f5abb9;
}