/**
 * Name:         colours.css
 * Description:  colour scheme for vinylbox.
 */

 :root {

  /* elements */
  --hr: hsl(0, 0%, 80%);
  --table-border: hsl(0, 0%, 53%);

  /* text and icons */
  --site-title-text: hsl(205, 13%, 30%);
  --white-text: hsl(0, 0%, 100%);
  --lightest-text: hsl(0, 0%, 87%);
  --lighter-text: hsl(0, 0%, 80%);
  --light-text: hsl(0, 0%, 68%);
  --dark-text: hsl(0, 0%, 47%);
  --darker-text: hsl(0, 0%, 33%);
  --darkest-text: hsl(0, 0%, 27%);
  --black-text: hsl(0, 0%, 0%);
  --link-text: hsl(216, 76%, 39%);
  --link-text-hover: hsl(216, 70%, 56%);
  --light-bg-icon: hsl(15, 3%, 26%);
  --abbr-title: hsla(0, 0%, 5%, 0.74);
  --label-text: hsl(207, 13%, 41%);
  --input-text: hsl(207, 12%, 29%);
  --welcome-text: hsl(47, 23%, 61%);
  --privacy-policy: hsl(47, 12%, 66%);

  /* feedback */
  --success: hsl(154, 100%, 38%);
  --saving: hsl(35, 43%, 50%);
  --error: hsl(359, 55%, 59%);
  --error-bg: hsl(3, 90%, 96%);

  /* navs */
  --nav-active-bg:hsl(29, 52%, 54%);
  --nav-inactive-bg:hsl(0, 0%, 92%);
  --nav-inactive-text:hsl(0, 0%, 48%);
  --nav-inactive-border:hsl(0, 0%, 67%);

  /* forms */
  --input-bg: hsl(0, 0%, 100%);
  --input-border: hsl(202, 7%, 77%);
  --input-border-focus: hsl(206, 74%, 61%);

  /* buttons */
  --btn-primary: hsl(206, 57%, 54%);
  --btn-primary-hover: hsl(206, 74%, 61%);
  --btn-secondary: hsl(260, 16%, 96%);
  --btn-secondary-hover: hsl(0, 0%, 91%);
  --btn-edit: hsl(35, 84%, 62%);
  --btn-delete: hsl(359, 56%, 62%);

  /* decks */
  --deck-black: hsl(0, 0%, 20%);
  --deck-silver: hsl(0, 0%, 80%);
 }