/**
 * Name:         colours.css
 * Description:  colour scheme for vinylbox.
 */

 :root {

  /* elements */
  --hr: #ccc;
  --table-border: #888;

  /* text and icons */
  --site-title-text: #424d55;
  --white-text: #fff;
  --lightest-text: #ddd;
  --lighter-text: #ccc;
  --light-text: #999;
  --dark-text: #777;
  --darker-text: #555;
  --darkest-text: #444;
  --black-text: #000;
  --link-text: hsl(216, 76%, 39%);
  --link-text-hover: hsl(216, 70%, 56%);
  --light-bg-icon: #454241;
  --abbr-title: rgba(12, 12, 12, 0.74); /* <abbr title=""> text. */
  --label-text: #5a6975;
  --input-text: #404a52;
  --welcome-text: #b3a986;

  /* feedback */
  --success: #00c06d;
  --saving: #b7894a;
  --error: #d05d5f;
  --error-bg: #feeceb;

  /* navs */
  --nav-active-bg:#c7884d;
  --nav-inactive-bg:#eaeaea;
  --nav-inactive-text:#7a7a7a;
  --nav-inactive-border:#ababab;

  /* forms */
  --input-bg: #fff;
  --input-border: #c0c5c8;
  --input-border-focus: #50a5e5;

  /* buttons */
  --btn-primary: #4793cd;
  --btn-primary-hover: #50a5e5;
  --btn-secondary: #f5f4f7;
  --btn-secondary-hover: #e7e7e7;
  --btn-edit: hsl(35, 84%, 62%);
  --btn-delete: hsl(359, 56%, 62%);

  /* decks */
  --deck-black: #333;
  --deck-silver: #ccc;
 }