@keyframes wobble {
  10% {
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    transform: translateX(1px) rotate(0deg);
  }
  100% {
    transform: translateX(-1px) rotate(0deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drop-down-200 {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    max-height: 200px;
  }
}


@keyframes drop-up-200 {
  0% {
    opacity: 1;
    max-height: 200px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }
}

@keyframes drop-down-60 {
  0% {
    opacity: 0;
    max-height: 0px;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    max-height: 60px;
  }
}


@keyframes drop-up-60 {
  0% {
    opacity: 1;
    max-height: 60px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    max-height: 0px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* todo: delete later if unused */
/* 
@keyframes drop-out-500 {
  0% {
    max-width: 0px;
  }
  100% {
    max-width: 500px;
  }
}

@keyframes drop-in-500 {
  0% {
    max-width: 500px;
  }
  100% {
    max-width: 0px;
  }
} */