:root.contrast {
  background-color: hsl(0, 0%, 0%);
  --page-bg: hsl(0, 0%, 0%);

  /* elements */
  --hr: hsl(0, 0%, 100%);
  --table-border: hsl(0, 0%, 100%);
  --border-colour: hsl(0, 0%, 100%);
  --modal-backdrop: hsla(0, 0%, 100%, 0.7);
  --even-row-bg: hsl(0, 0%, 9%);
  --key-text: hsl(0, 0%, 0%);

  /* text and icons */
  --white-text: hsl(0, 0%, 100%);
  --lighter-text: hsl(0, 0%, 100%);
  --light-text: hsl(0, 0%, 100%);
  --dark-text: hsl(0, 0%, 100%);
  --darker-text: hsl(0, 0%, 100%);
  --darkest-text: hsl(0, 0%, 100%);
  --link-text: hsl(202, 100%, 68%);
  --link-text-hover: hsl(202, 100%, 92%);
  --abbr-title: hsla(0, 0%, 100%, 0.74);
  --label-text: hsl(0, 0%, 100%);
  --input-text: hsl(0, 0%, 100%);
  --welcome-text: hsl(48, 100%, 87%);
  --highlight: hsl(53, 5%, 32%);

  /* feedback */
  --success: hsl(152, 100%, 50%);
  --saving: hsl(35, 100%, 50%);
  --error: hsl(356, 100%, 50%);

  /* navs */
  --nav-active-bg: hsl(202, 100%, 36%);
  --nav-inactive-bg: hsl(0, 0%, 0%);
  --nav-inactive-text: hsl(0, 0%, 100%);
  --nav-inactive-border: hsl(0, 0%, 67%);

  /* forms */
  --input-bg: hsl(0, 0%, 0%);
  --input-border: hsl(0, 0%, 100%);
  --input-border-focus: hsl(202, 50%, 50%);
  --radio-card-label: hsl(0, 0%, 12%);

  /* buttons */
  --primary: hsl(202, 100%, 50%);
  --primary-hover: hsl(202, 100%, 72%);
  --secondary: hsl(0, 0%, 12%);
  --secondary-hover: hsl(0, 0%, 27%);
  --edit: hsl(35, 100%, 50%);
  --edit-hover: hsl(35, 84%, 72%);
  --delete: hsl(356, 100%, 50%);
  --delete-hover: hsl(356, 100%, 72%);
  --disabled: hsl(215, 8%, 22%);
  --disabled-text: hsl(215, 8%, 66%);

  /* records */
  --record-bg: hsl(0, 0%, 8%);
  --record-unstaged-bg: hsl(0, 0%, 36%);

  /* tracks, suggestions */
  --track-hover: hsl(146, 50%, 16%);
  --track-features-hover: hsl(146, 70%, 50%);

  /* progress bar */
  --progress-fg: linear-gradient(
    70deg,
    rgba(245, 177, 97, 1) 0.4%,
    rgba(236, 54, 110, 1) 100.2%
  );
  --progress-bg: hsl(0, 0%, 17%);
}
