@import 'tailwindcss';
@import './fonts.css' layer(base);

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.98 0.003 84.56);
	--foreground: oklch(0.421 0.032 84.42);

	--muted: oklch(0.9293 0.0098 84.58);
	--muted-foreground: oklch(0.5998 0.0027 84.56);

	--popover: oklch(0.9789 0.0029 84.56);
	--popover-foreground: oklch(0.1371 0.036 258.53);

	--card: oklch(0.993 0.001 84.55);
	--card-foreground: oklch(0.1371 0.036 258.53);

	--primary: oklch(0.5279 0.0784 333.38);
	--primary-foreground: oklch(0.9838 0.0035 247.86);

	--secondary: oklch(0.9634 0.0024 84.56);
	--secondary-foreground: oklch(0.5116 0.0023 84.56);

	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);

	--destructive: oklch(0.97 0 0);
	--destructive-foreground: oklch(0.58 0.2 22.2);

	--border: oklch(0.9423 0.0134 84.58);
	--input: oklch(0.9293 0.0098 84.58);
	--ring: oklch(0.7348 0.1938 335.65);

	--radius: 0.625rem;

	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);

	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--logo-medium: hsl(312, 38%, 58%);
	--logo-light: hsl(313, 20%, 77%);
}

.dark {
	--background: oklch(0.0145 0.036 258);
	--foreground: oklch(0.7107 0.0351 256.79);

	--muted: oklch(0.28 0.0369 260);
	--muted-foreground: oklch(0.708 0 0);

	--popover: oklch(0.0145 0.036 258);
	--popover-foreground: oklch(0.984 0.0035 248);

	--card: oklch(0.0145 0.036 258);
	--card-foreground: oklch(0.984 0.0035 248);

	--primary: oklch(0.984 0.0035 248);
	--primary-foreground: oklch(0.205 0 0);

	--secondary: oklch(0.28 0.037 260);
	--secondary-foreground: oklch(0.984 0.0035 248);

	--accent: oklch(0.28 0.037 260);
	--accent-foreground: oklch(0.984 0.0035 248);

	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.984 0.0035 248);

	--border: oklch(0.28 0.037 260);
	--input: oklch(0.28 0.0369 260);
	--ring: oklch(0.87 0.02 253);

	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);

	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--font-mono: 'BerkeleyMono', monospace;
	--font-serif: serif;
	--font-sans: 'Inter', sans-serif;

	--text-xs: 0.875rem; /* 15px */
	--text-sm: 1rem; /* 16px */
	--text-std: 1.0625rem; /* 17px */
	--text-md: 1.125rem; /* 18px */
	--text-lg: 1.25rem; /* 20px */
	--text-xl: 1.5rem; /* 24px */
	--text-2xl: 1.75rem; /* 28px */
	--text-3xl: 2rem; /* 32px */
	--text-4xl: 2.25rem; /* 36px */
	--text-5xl: 3rem; /* 48px */
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}
